<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column"></div>
      <div class="three wide column">
        <h4 class="ui inverted header">메뉴</h4>
        <div class="ui inverted link list">
          <a href="{% url 'index' %}" class="item">Home</a>
          <a href="http://likelion.org/home/products" class="item">Activity</a>
          <a href="http://likelion.org/history/index/4" class="item">History</a>
        </div>
      </div>
      <div class="seven wide column site-info">
        <p>
          <i class="marker icon"></i>주소: 경기도 안산시 상록구 한양대학로 55
        </p>
        <p>
          <i class="call icon"></i>관리자: 01072472530
        </p>
        <p>
          <i class="mail outline icon"></i>메일: interpret96@gmail.com
        </p>
        <p>
          <i class="facebook icon"></i>페이스북: facebook.com/likelion.hyuerica/
        </p>
      </div>
    </div>
  </div>
</div>
