<div class="ui left aligned bulleted list form-notice">
  <div class="item">지원서 형식은 자유입니다.</div>
  <div class="item">페이지 수나 글자수 제한은 없습니다.</div>
  <div class="item">제출시 확장자는 <span class="import-color">pdf</span>, 제목은 <span class="import-color">학과_학번_이름.pdf</span> 입니다.</div>
  <div class="item">지원가능 기간: </div>
  <div class="item">
    <div>인적사항:</div>
    <div class="list">
      <div class="item">이름/학과/학번/학년/휴대폰번호/이메일번호</div>
    </div>
  </div>
  <div class="item">
    <div>지원서 질문:</div>
    <div class="list">
      <div class="item">멋쟁이 사자처럼에 지원하게된 동기</div>
      <div class="item">자신이 개발하고 싶은 프로그램에 대한 아이디어를 소개시켜 주세요.</div>
    </div>
  </div>
  <div class="item">
    <div>선택입력사항:</div>
    <div class="list">
      <div class="item">사용가능언어(C언어, Java, Python...)</div>
      <div class="item">프로젝트경험(개발경험)</div>
    </div>
  </div>
</div>
